<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import Modal from '@/Components/Modal.vue';
import SecondaryButton from '@/Components/SecondaryButton.vue';
import { useForm } from '@inertiajs/vue3';
import { router } from '@inertiajs/vue3'
import {reactive, ref} from "vue";

const form = reactive({
    id: null,
    title: null,
    description: null,
    published_at: null,
    file: null,
    authors: []
})

const query = useForm({
    search: '',
    sortByName: '',
    sortById: '',
});

const confirmingSendBook = ref(false);
const updateBook = ref(false);
const newBook = ref(false);
const authorEmptyList = ref(false);
const arrowDown = ref(true);

const addAuthor = (id) => {
    return  form.authors.push(id);
}

const sortByName = () => {
    query.sortByName = 'asc';
    arrowDown.value = true;
    query.get(route('books.index'), {
        preserveScroll: true,
        onSuccess: () => {
            console.log('Success');
        }
    });
};

const sortById = () => {
    query.sortById = 'desc';
    arrowDown.value = true;
    query.get(route('books.index'), {
        preserveScroll: true,
        onSuccess: () => {
            console.log('Success');
        }
    });
};

const searchBook = () => {
    query.get(route('books.index'), {
        preserveScroll: true,
        onSuccess: () => {
            console.log('Success');
        }
    });
};

const deleteBook = () => {
    router.delete(`/books/${form.id}`, {
        onSuccess: () => {
            form.id = null,
                form.title = null;
            form.description = null;
            form.published_at = null;
            form.file = null;
            form.authors = [];
            confirmingSendBook.value = false;
        },
    })
    updateBook.value = false;
}

function submit() {
    if (form.authors.length){
        authorEmptyList.value = true;
        if (updateBook.value) {
            router.patch(`/books/${form.id}`, form, {
                forceFormData: false,
                onSuccess: () => {
                    form.id = null,
                    form.title = null;
                    form.description = null;
                    form.published_at = null;
                    form.file = null;
                    form.authors = [];
                    confirmingSendBook.value = false;
                },
                preserveScroll: true,
            })
            updateBook.value = false;
        }
        if (newBook.value) {
             router.post('/books', form,  {
                preserveScroll: true,
                onSuccess: () => {
                 form.id = null,
                 form.title = null;
                 form.description = null;
                 form.published_at = null;
                 form.file = null;
                 form.authors = [];
                 confirmingSendBook.value = false;
                },
                forceFormData: true,
            })
            newBook.value =false;
        }
    }else {
        authorEmptyList.value = false;
    }
}

const closeModal = () => {
    confirmingSendBook.value = false;
};

const openModal = () => {
    confirmingSendBook.value = true;
    newBook.value = true;
};

const clearAuthor= () => {
    form.authors = [];
};

const bookUpdate = (book) => {
    confirmingSendBook.value = true;
    updateBook.value = true;
    for (const key in book) {
        if (form.hasOwnProperty(key)) {
            if (key === 'authors') {
                form[key] = book[key].map(author => String(author.id));
            } else {
                form[key] = book[key];
            }
        }
    }
};

</script>
<script>

import {Link, router} from '@inertiajs/vue3'
export default {
    name: "Index",
    components: {
        Link
    },
    props: [
        'books',
        'errors',
        'authors'
    ],
}
</script>
<template>
    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Directory of books </h2>
        </template>
        <Modal :show="confirmingSendBook" @close="closeModal">
            <div class="p-6">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button"
                            @click="closeModal"
                            class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-hide="authentication-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div class="px-6 py-6 lg:px-8">
                        <h3 v-if="newBook" class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Create new Book</h3>
                        <h3 v-if="updateBook" class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Update Book</h3>
                        <form class="space-y-6" @submit.prevent="submit">
                            <div class="mb-6">
                                <label
                                    for="title"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Title
                                </label>
                                <input
                                    type="text"
                                    id="title"
                                    v-model="form.title"
                                    class="
                                           bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                           focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                           dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                           dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                >
                                <p
                                    v-if="errors.title"
                                    class="mt-2 text-sm text-red-600 dark:text-red-500
                                ">
                                    <span class="font-medium">
                                        {{errors.title}}
                                    </span>
                                </p>
                            </div>
                            <div class="mb-6">
                                <label
                                    for="description"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Description
                                </label>
                                <textarea
                                    id="description"
                                    v-model="form.description"
                                    rows="4"
                                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
                            </div>
                            <div class="mb-6">
                                <label
                                    for="published_at"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Relies
                                </label>
                                <div class="relative max-w-sm">
                                    <input
                                        id="published_at"
                                        type="date"
                                        v-model="form.published_at"
                                        class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
                                </div>
                                <p
                                    v-if="errors.published_at"
                                    class="mt-2 text-sm text-red-600 dark:text-red-500
                                ">
                                    <span class="font-medium">
                                        {{errors.published_at}}
                                    </span>
                                </p>
                            </div>

                            <div v-if="newBook" class="mb-6">
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload file</label>
                                <input @input="form.file = $event.target.files" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"  id="file_input" type="file">
                            </div>

                            <div class="mb-6">
                                <label for="authors"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an
                                    option</label>
                                <select @change="addAuthor($event.target.value)"
                                        id="authors"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option selected>Choose the authors</option>
                                    <option v-for="author in authors" :value="author.id">{{ author.first_name }} {{ author.last_name }} {{ author.middle_name }}</option>
                                </select>
                                <div>
                                    <h5
                                        class="mt-5 text-sm text-gray-300 leading-tight">
                                        Featured Authors
                                    </h5>
                                    <template v-if="form.authors">
                                        {{form.authors}}
                                        <br>
                                        <button
                                            @click="clearAuthor"
                                            type="button" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-1 text-center mr-1 mb-1 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                                            clear
                                        </button>
                                        <p
                                            v-if="!authorEmptyList"
                                            class="mt-2 text-sm text-red-600 dark:text-red-500
                                        ">
                                            <span class="font-medium">
                                                The field is required.
                                            </span>
                                        </p>

                                    </template>
                                </div>

                            </div>
                            <button type="submit"
                                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Send
                            </button>
                            <button v-if="!newBook" @click.prevent="deleteBook(form.id)" type="button" class="ml-3 text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </Modal>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <form>
                        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                            </div>
                            <input v-model="query.search" type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Authors..." required>
                            <button @click.prevent="searchBook" type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                        </div>
                    </form>
                    <div class="mx-right w-96 m-6">
                        <a href="#" @click.prevent="openModal"
                           class="bg-blue-500 mb-6 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
                            Add Book
                        </a>
                    </div>
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-2 py-3">
                                Id
                                <button @click="sortById">
                                    <div v-if="arrowDown">&#8595;</div>
                                </button>
                            </th>
                            <th scope="col" class="px-6 py-3 flex items-center">
                                <span class="mr-1">Title</span>
                                <button @click="sortByName">
                                    <div v-if="arrowDown">&#8595;</div>
                                    <div v-if="!arrowDown">&#8593;</div>
                                </button>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Description
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Authors
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Release
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Image
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="book in books.data" class="bg-white border dark:bg-gray-900 dark:border-gray-700">
                            <th scope="row"
                                class="sm:px-6 py-6 font-medium border text-gray-300 whitespace-nowrap dark:text-white max-w-1xl">
                                {{ book.id }}
                            </th>
                            <td class="border px-6 py-4 sm:max-w-sm">

                                <a @click="bookUpdate(book)" href="#" class="inline-flex items-center justify-center p-5 text-base font-medium text-gray-500 rounded-lg bg-gray-50 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
                                    <span class="w-full">{{ book.title }}</span>
                                    <svg class="w-4 h-4 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>

                            </td>
                            <td class="border px-6 py-4 sm:max-w-md">
                                {{ book.description }}
                            </td>
                            <td class="border px-6 py-4">
                                <ul v-for="author in book.authors"
                                    class="space-y-4 text-left text-gray-500 dark:text-gray-400">
                                    <li class="flex items-center space-x-3">
                                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400"
                                             aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                             viewBox="0 0 16 12">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                  stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                                        </svg>
                                        <span>{{ author.first_name }} {{ author.last_name }}</span>
                                    </li>
                                </ul>
                            </td>
                            <td class="border px-6 py-4">
                                {{ book.published_at }}
                            </td>
                            <td class="border px-6 py-4 sm:max-w-md">
                                <img v-if="book.image_path" class="h-auto max-w-full" :src="book.image_path"
                                     alt="image description">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="mx-right w-96 m-6">
                        <a href="#" @click.prevent="openModal"
                              class="bg-blue-500 mb-6 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
                            Add Book
                        </a>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="inline-flex -space-x-px text-sm">
                            <li v-for="page in books.meta.last_page" :key="page">
                                <a :href="books.links.first + '&page=' + page" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page }}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>

</template>
