<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import Modal from '@/Components/Modal.vue';
import SecondaryButton from '@/Components/SecondaryButton.vue';
import { useForm } from '@inertiajs/vue3';
import { router } from '@inertiajs/vue3'
import {reactive, ref, watch} from "vue";


const form = reactive({
    id: null,
    first_name: null,
    last_name: null,
    middle_name: null
})

const query = useForm({
    search: '',
    sortByName: '',
    sortById: '',
});

const confirmingSendAuthor = ref(false);
const updateAuthor = ref(false);
const newAuthor = ref(false);
const authorEmptyList = ref(false);
const arrowDown = ref(true);

const addAuthor = (id) => {
    return  form.authors.push(id);
}

const sortByName = () => {
    query.sortByName = 'asc';
    arrowDown.value = true;
    query.get(route('authors.index'), {
        preserveScroll: true,
        onSuccess: () => {
            console.log('Success');
        }
    });
};

const sortById = () => {
    query.sortById = 'asc';
    arrowDown.value = true;
    query.get(route('authors.index'), {
        preserveScroll: true,
        onSuccess: () => {
            console.log('Success');
        }
    });
};

const searchAuthor = () => {
    query.get(route('authors.index'), {
        preserveScroll: true,
        onSuccess: () => {
            console.log('Success');
        }
    });
};

const deleteAuthor = (id) => {
    form.id = id;
    router.delete(`/authors/${form.id}`, {
        onSuccess: () => {
            confirmingSendAuthor.value = false;
        },
    })
    updateAuthor.value = false;
}

function submit() {
    if (newAuthor.value){
        router.post(`/authors`, form, {
            forceFormData: false,
            onSuccess: () => {
                form.id = null,
                form.first_name = null;
                form.last_name = null;
                form.middle_name = null;
                confirmingSendAuthor.value = false;
            },
            preserveScroll: true,
        })
    }
    if (updateAuthor.value){
        router.patch(`/authors/${form.id}`, form, {
            forceFormData: false,
            onSuccess: () => {
                form.id = null,
                form.first_name = null;
                form.last_name = null;
                form.middle_name = null;
                confirmingSendAuthor.value = false;
            },
            preserveScroll: true,
        })
    }
    updateAuthor.value = false;
    newAuthor.value = false;


}

const closeModal = () => {
    confirmingSendAuthor.value = false;
};

const openModal = () => {
    confirmingSendAuthor.value = true;
    newAuthor.value = true;
};

const clearAuthor= () => {
    form.authors = [];
};

const authorUpdate = (author) => {
    confirmingSendAuthor.value = true;
    updateAuthor.value = true;
    for (const key in author) {
        if (form.hasOwnProperty(key)) {
            form[key] = author[key];
        }
    }
};
</script>

<script>

import {Link, router} from '@inertiajs/vue3'
import {reactive, ref} from "vue";

export default {
    name: "Index",
    components: {
        Link
    },
    props: [
        'authors',
        'errors',
    ],
}
</script>
<template>
    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Directory of books </h2>
        </template>
        <Modal :show="confirmingSendAuthor" @close="closeModal">
            <div class="p-6">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button"
                            @click.prevent="closeModal"
                            class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-hide="authentication-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div class="px-6 py-6 lg:px-8">
                        <h3 v-if="newAuthor" class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Create new Author</h3>
                        <h3 v-if="updateAuthor" class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Update Author</h3>
                        <form class="space-y-6" @submit.prevent="submit">
                            <div class="mb-6">
                                <label
                                    for="first_name"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    First Name
                                </label>
                                <input
                                    type="text"
                                    id="first_name"
                                    v-model="form.first_name"
                                    class="
                                           bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                           focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                           dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                           dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                >
                                <p
                                    v-if="errors.first_name"
                                    class="mt-2 text-sm text-red-600 dark:text-red-500
                                ">
                                    <span class="font-medium">
                                        {{errors.first_name}}
                                    </span>
                                </p>
                            </div>

                            <div class="mb-6">
                                <label
                                    for="last_name"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Last Name
                                </label>
                                <input
                                    type="text"
                                    id="last_name"
                                    v-model="form.last_name"
                                    class="
                                           bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                           focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                           dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                           dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                >
                                <p
                                    v-if="errors.last_name"
                                    class="mt-2 text-sm text-red-600 dark:text-red-500
                                ">
                                    <span class="font-medium">
                                        {{errors.last_name}}
                                    </span>
                                </p>
                            </div>

                            <div class="mb-6">
                                <label
                                    for="middle_name"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Middle Name
                                </label>
                                <input
                                    type="text"
                                    id="middle_name"
                                    v-model="form.middle_name"
                                    class="
                                           bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                           focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                           dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                           dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                >
                                <p
                                    v-if="errors.middle_name"
                                    class="mt-2 text-sm text-red-600 dark:text-red-500
                                ">
                                    <span class="font-medium">
                                        {{errors.middle_name}}
                                    </span>
                                </p>
                            </div>
                            <button type="submit"
                                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Send
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </Modal>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <form>
                        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                            </div>
                            <input v-model="query.search" type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Authors..." required>
                            <button @click.prevent="searchAuthor" type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                        </div>
                    </form>
                    <div class="mx-right w-96 m-6">
                        <button href="#" @click.prevent="openModal"
                                class="bg-blue-500 mb-6 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
                            Add New Author
                        </button>
                    </div>
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Id
                                <button @click="sortById">
                                    <div v-if="arrowDown">&#8595;</div>
                                </button>
                            </th>
                            <th scope="col" class="px-6 py-3 flex items-center">
                                <span class="mr-1">Name</span>
                                <button @click="sortByName">
                                    <div v-if="arrowDown">&#8595;</div>
                                    <div v-if="!arrowDown">&#8593;</div>
                                </button>
                            </th>

                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="author in authors.data" class="bg-white border dark:bg-gray-900 dark:border-gray-700">
                            <th scope="row"
                                class="sm:px-6 py-6 font-medium border text-gray-300 whitespace-nowrap dark:text-white max-w-1xl">
                                {{ author.id }}
                            </th>
                            <td class="border px-6 py-4 sm:max-w-sm">
                                {{ author.first_name }} {{ author.last_name }} {{ author.middle_name }}
                            </td>
                            <td class="border px-6 py-4 sm:max-w-sm">
                                <button
                                    @click.prevent="authorUpdate(author)"
                                    type="button"
                                    class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                    Edit
                                </button>

                                <button
                                    @click.prevent="deleteAuthor(author.id)"
                                    type="button"
                                    class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="mx-right w-96 m-6">
                        <button href="#" @click.prevent="openModal"
                           class="bg-blue-500 mb-6 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
                            Add New Author
                        </button>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="inline-flex -space-x-px text-sm">
                            <li v-for="page in authors.meta.last_page" :key="page">
                                <a :href="authors.links.first + '&page=' + page" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page }}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>

</template>
