<template>

    <div class="container mx-auto sm:max-w-md px-4">
        <div class="mx-auto w-96 m-6">
            <h1 class="text-base dark:bg-red-800/20">Create</h1>

            <Link :href.prevent="route('post.index')"
               class="font-medium text-blue-600 dark:text-blue-500 hover:underline mt-3 ">
               Back
            </Link>

        </div>
        <form @submit.prevent="submit">
            <div class="mb-6">
                <label
                    for="content"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Name
                </label>
                <input
                    type="text"
                    id="content"
                    v-model="form.name"
                    class="
                   bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                   focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                   dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                   dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                <p
                    v-if="errors.name"
                    class="mt-2 text-sm text-red-600 dark:text-red-500
                ">
                    <span class="font-medium">
                        {{errors.name}}
                    </span>
                </p>
            </div>
            <div class="mb-6">
                <label
                    for="description"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Description
                </label>
                <textarea
                    id="description"
                    v-model="form.description"
                    rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
                <p
                    v-if="errors.description"
                    class="mt-2 text-sm text-red-600 dark:text-red-500
                ">
                    <span class="font-medium">
                        {{errors.description}}
                    </span>
                </p>

            </div>
            <div class="mb-6">
                <label for="salons" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an option</label>
                <select v-model="form.salon_id"  id="salons" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected>Choose a salon</option>
                    <option v-for="salon in salons" :value="salon.id">{{salon.name}}</option>
                </select>
                <p
                    v-if="errors.salon_id"
                    class="mt-2 text-sm text-red-600 dark:text-red-500
                ">
                    <span class="font-medium">
                        {{errors.salon_id}}
                    </span>
                </p>

            </div>
            <div class="mb-6">
                <label
                    for="price"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Price
                </label>
                <input
                    type="number"
                    id="price"
                    v-model="form.price"
                    class="
                   bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                   focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                   dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                   dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                <p
                    v-if="errors.price"
                    class="mt-2 text-sm text-red-600 dark:text-red-500
                ">
                    <span class="font-medium">
                        {{errors.price}}
                    </span>
                </p>

            </div>
            <div class="mb-6">
                <label class="relative inline-flex items-center cursor-pointer">
                    <input
                        type="checkbox"
                        v-model="form.active"
                        class="sr-only peer">
                    <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">
                        Activity
                    </span>
                </label>
                <p
                    v-if="errors.active"
                    class="mt-2 text-sm text-red-600 dark:text-red-500
                ">
                    <span class="font-medium">
                        {{errors.active}}
                    </span>
                </p>
            </div>
            <button
                type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300
                       font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600
                       dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                Send
            </button>

        </form>
    </div>
</template>

<script>
import {reactive} from 'vue'
import {Link, router} from '@inertiajs/vue3'

export default {
    components: {
        Link
    },
    props: [
        'errors'
    ],
    setup() {
        const form = reactive({
            name: null,
            description: null,
            salon_id: null,
            price: null,
            active: null
        })

        const errorMsg = reactive({
            content: null,
            text: null
        })

        function submit() {
            router.post('/posts', form)
        }

        return {form, submit, errorMsg}
    },
}
</script>

<style scoped>

</style>
